@font-face {
  font-family: 'CircularStd-Black';
  src: url('CircularStd-Black.eot'); /* IE9 Compat Modes */
  src: url('CircularStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CircularStd-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('CircularStd-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('CircularStd-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CircularStd-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: CircularStd;
}

.newline-aware {
  white-space: pre-wrap;
}
